<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Todo Manager</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../resources/css/bootstrap.css" th:href="@{/resources/css/bootstrap.css}"/>
    <script src="../../resources/js/jquery.js" th:src="@{/resources/js/jquery.js}"></script>
    <script src="../../resources/js/bootstrap.js" th:src="@{/resources/js/bootstrap.js}"></script>
</head>
<body>
<div class="container-fluid">

	<br/>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" th:href="@{/}" >Do stuff!</a>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><a href="#" th:href="@{/}" >Add new </a></li>
	        <li class="active"><a href="#" th:href="@{/list}" >View all <span class="sr-only">(current)</span></a></li>
	      </ul>
	      <form class="navbar-form navbar-left" role="search" th:action="@{/list}" method="get">
	        <div class="form-group">
	          <input type="text" name="search-param" class="form-control" placeholder="Enter some words..."></input>
	        </div>
	        <button type="submit" class="btn btn-default">Search</button>
	      </form>
   	   	  	<form class="navbar-form navbar-right" th:action="@{/logout}" method="post">
	        	<button type="submit" class="btn btn-warning">Logout</button>
	      	</form>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="https://bitbucket.org/moondowner/spring-full-webapp-example/">Source</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div th:if="${#lists.isEmpty(todos)}" class="alert alert-info" role="alert">All done! No TODOs left..</div>
			<table class="table">
			  <tr>
			    <th>Description</th>
			    <th>Status</th>
   			    <th>Actions</th>
			  </tr>
			  <tr th:each="todo,iterStat : ${todos}" th:class="${iterStat.odd}? 'odd'">
			    <td th:text="${todo.title}">Onions</td>
			    <td th:text="${todo.completed} ? 'Completed' : 'Not Completed'"></td>
			    <td><a th:if="${not todo.completed}" th:href="@{|/list/${todo.uuid}/complete|}" class="btn btn-success btn-xs">Complete</a><a th:if="${todo.completed}" class="btn btn-default btn-xs disabled">Completed</a> <a th:href="@{|/list/${todo.uuid}/delete|}" class="btn btn-danger btn-xs">Delete</a></td>
			  </tr>
			</table>
		</div>
	</div>

</div>
</body>
</html>
