<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Todo Manager</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../resources/css/bootstrap.css" th:href="@{/resources/css/bootstrap.css}"/>
    <script src="../../resources/js/jquery.js" th:src="@{/resources/js/jquery.js}"></script>
    <script src="../../resources/js/bootstrap.js" th:src="@{/resources/js/bootstrap.js}"></script>
</head>
<body>
<div class="container-fluid">

	<br/>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" th:href="@{/}" >Do stuff!</a>
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="https://bitbucket.org/moondowner/spring-full-webapp-example/">Source</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>

	<div class="row">
	 	<div class="col-md-6 col-md-offset-3">
	 	   <p th:if="${hasError}">Wrong user or password</p>
		    <form th:action="@{/j_spring_security_check}" method="post">
   			  <div class="form-group">
			      <label for="username">Username</label>:
			      <input class="form-control" type="text" id="username" name="username" /> <br />
			      <label for="password">Password</label>:
			      <input class="form-control" type="password" id="password" name="password" /> <br />
		      </div>
      		 <input class="btn btn-default" type="submit" value="Log in" />
	 	      <a class="btn btn-info" th:href="@{/register}" >Register</a>
		    </form>
		</div>
	</div>

</div>
</body>
</html>
